/**
 * @file
 * Overlay style css of Facebook style.
 */

/***************************************************************************
Theming guide: overlay markup structure (Based on overlay.tpl.php):

<body class="overlay-style-[YOUR_STYLE]">
 <div id="overlay-container">
  <div class="overlay-modal-background"></div>
  <iframe>
   <body class="overlay-style-[YOUR_STYLE]">
    <div id="overlay-disable-message"></div>
    <div id="overlay">
     <div id="overlay-titlebar">
      <div id="overlay-title-wrapper">
       <h1 id="overlay-title"></h1>
      </div>
      <div id="overlay-close-wrapper">
       <a id="overlay-close"></a>
      </div>
      <ul id="overlay-tabs">
       <li></li>
      </ul>
     </div>
     <div id="overlay-content"></div>
    </div>
   </body>
  </iframe>
 </div>
</div>
***************************************************************************/

.overlay-style-facebook .overlay-modal-background {
  opacity: 0.9;
  background: #fff;
}

.overlay-style-facebook #overlay {
  width: auto;
  min-width: 40%;
  margin: 0 auto 50px auto;
  padding: 0;
  box-shadow: 2px 2px 2px #666;
  background: #858585;
  border-radius: 10px 10px 10px 10px;
  max-width: 80%;
}

.overlay-style-facebook #overlay #overlay-titlebar {
  padding: 0px 10px;
  margin: 10px 0 0 0;
  padding: 0 10px;
  text-indent: 20px;
}

.overlay-style-facebook #overlay #overlay-titlebar #overlay-title-wrapper {
  background: #6d84b4;
  padding: 10px 0;
  border-radius: 10px 10px 0 0;
}

.overlay-style-facebook #overlay #overlay-titlebar #overlay-title-wrapper h1#overlay-title {
  font-weight: bold;
  font-size: 18px;
}

.overlay-style-facebook #overlay #overlay-titlebar #overlay-tabs {
  display: none;
  right: 10px;
  bottom: -2px;
}

.overlay-style-facebook #overlay #overlay-titlebar #overlay-tabs li {
  margin: 0 0 0 -3px;
}

.overlay-style-facebook #overlay #overlay-titlebar #overlay-tabs li a,
.overlay-style-facebook #overlay #overlay-titlebar #overlay-tabs li a:visited,
.overlay-style-facebook #overlay #overlay-titlebar #overlay-tabs li a:hover {
  background-color: #3b5998;
  border-radius: 8px 8px 0 0;
  color: #999;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  margin: 0 0 2px;
  outline: 0 none;
  padding: 0 14px;
  text-decoration: none;
}

.overlay-style-facebook #overlay #overlay-titlebar #overlay-tabs li a:active {
  background: #ccc;
  color: #333;
}

.overlay-style-facebook #overlay #overlay-titlebar #overlay-close-wrapper {
  top: -25%;
  right: 14px;
}

.overlay-style-facebook #overlay #overlay-titlebar a#overlay-close,
.overlay-style-facebook #overlay #overlay-titlebar a#overlay-close:link,
.overlay-style-facebook #overlay #overlay-titlebar a#overlay-close:visited {
  background: url("../images/bg-overlay-close.png") no-repeat;
  background-position: 0 0;
  background-size: 30px 30px;
  display: inline-block;
  width: 30px;
  height: 30px;
  top: 25px;
  left: -20px;
  z-index: 1000;
}

.overlay-style-facebook #overlay #overlay-titlebar a#overlay-close:hover {
  background: url("../images/bg-overlay-close-hover.png") no-repeat;
}

.overlay-style-facebook #overlay #overlay-content-wrapper {
  background: none;
  padding: 0 10px 10px 10px;
}

.overlay-style-facebook #overlay #overlay-content-wrapper #overlay-content {
  border-radius: 0 0 10px 10px;
  padding: 20px;
  width: auto;
  min-width: 0;
}

.overlay-style-facebook #overlay #overlay-content-wrapper #overlay-content #page {
  padding: 0;
}

.overlay-style-facebook #overlay #overlay-content #branding {
  display: none;
}

.overlay-style-facebook #overlay #overlay-content ul.secondary {
  margin: 0;
}
