/**
 * @file
 * Overlay style css of default style.
 */

.overlay-style-default #overlay {
  width: auto;
  min-width: 60%;
  margin: 0 auto 50px auto;
  padding: 0;
  box-shadow: 2px 2px 2px #666;
  background: url(../images/bg-overlay.png) repeat;
  border-radius: 10px 10px 10px 10px;
  max-width: 80%;
}

.overlay-style-default .overlay-modal-background {
  opacity: 0.2;
  background: url(../images/bg-overlay.png) repeat;
}

.overlay-style-default #page-wrapper {
  width: auto;
  min-width: 0;
}

.overlay-style-default #overlay-titlebar {
  padding: 5px 20px;
}

.overlay-style-default #overlay-close-wrapper {
  top: -25%;
  right: 14px;
}
.overlay-style-default #overlay-tabs {
  right: 10px;
  bottom: -2px;
}

.overlay-style-default #overlay-content {
  background: none;
  padding: 0 10px 10px 10px;
}

.overlay-style-default #overlay-content #branding {
  display: none;
}

.overlay-style-default #overlay-content #page {
  border-radius: 0 0 10px 10px;
  padding: 20px;
}

.overlay-style-default #overlay-content ul.secondary {
  margin: 0;
}

.overlay-style-default #overlay-tabs li {
  margin: 0 0 0 -3px;
}

.overlay-style-default #overlay-close,
#overlay-close:hover {
  background: url(../images/bg-overlay-close.png) no-repeat;
  width: 29px;
  height: 29px;
}
